/*body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
    margin: 0; 
    display: flex;
    flex-direction: column;
    align-items: center; 
}

header{
    background-color: #333;
    color: white;
    padding: 10px 0;
    width: 100%;
    text-align: center;
}

main{
    padding: 20px;
}

nav ul li{
    display: inline;
    margin: 50px;
    
}

nav ul li a{
    text-decoration: none;
    color: white;   
}

nav ul li a:hover {
    background-color: #555;
    border-radius: 5px;
}


.inline{
    display: flex;
        
}

.nosotros-container {
    border: 2px black;
    border-radius: 20px;
    padding: 20px;
    width: 350px;
    margin-left: 40px;
    margin-top: 20px;
    bottom: 500px;
    box-shadow: 20px 2px 8px rgb(0, 0, 0, 0.1);   
}







footer{
    background-color: #333;
    color: white;
    padding: 10px 0;
    width: 100%;
    text-align: center;
    position: fixed;
    bottom: 0;
}
*/

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
    margin: 0; 
    display: flex;
    flex-direction: column;
    align-items: center; 
}

header{
    background-color: #333;
    color: white;
    padding: 10px 0;
    width: 100%;
    text-align: center;
}
main{
    padding: 20px;
}

nav ul li{
    display: inline;
    margin: 50px;
    
}

nav ul li a{
    text-decoration: none;
    color: white;   
}

nav ul li a:hover {
    background-color: #555;
    border-radius: 5px;
}



.inline{
    display: flex;
    max-width: 1400px;
    width: 100%;
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


.description {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    width: 150%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.nosotros-container{
    flex: 3;
    margin-right: 20px;
    margin-left: 30px;

    
    
}



footer{
    background-color: #333;
    color: white;
    padding: 10px 0;
    width: 100%;
    text-align: center;
    bottom: 0;
    position: fixed;
}

